.top-banner {
    background-image: url(Cover/donation9.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 180px;
    color: whitesmoke;
    margin-bottom: 120px;
}

body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}
.paragraph-color{
    color: gray;
}
.button {
    text-decoration: none;
    color: antiquewhite;
    background-image: linear-gradient(rgb(27, 46, 216), rgb(29, 186, 207));
    box-shadow: 3px 3px 25px rgb(5, 5, 117);
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 20px;
}

.h1-text {
    font-size: 65px;
    text-shadow: 5px 5px 5px black;
}

div p {
    font-size: 20px;
}

.shadow {
    text-shadow: 5px 5px 5px black;
}

.text-align {
    text-align: center;
    font-size: 30px;
}

.donate-head {
    margin-bottom: 50px;
}

.taka {
    width: 15%;
    font-size: 25px;
    text-align: center;
}

.left-width {
    width: 20%;
}

.right-width {
    width: 20%;
}

.flex {
    display: flex;
    margin-bottom: 50px;
}

.border-taka {
    border: 2px solid rgb(231, 73, 45);
    color: rgb(209, 66, 41);
    background-color: rgba(216, 87, 87, 0.377);
}

.amount-border {
    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
    margin-left: 25%;
    margin-bottom: 40px;
}
.button-align {
    text-align: center;
    margin-bottom: 120px;
}

.donate-plan {
    display: flex;
    text-align: center;
    margin-bottom: 120px;
    text-align: left;
    padding-top: 20px;

}

.food {
    width: 25%;
    margin-left: 10%;
    margin-right: 2.5%;
    padding-bottom: 80px;
    padding-top: 60px;
    background-color: rgba(124, 201, 204, 0.226);
    text-align: left;
    padding-left: 20px;
    padding-right: 5px;
}

.shelter {
    width: 25%;
    padding-left: 20px;
    padding-top: 60px;
    background-color: rgba(255, 99, 71, 0.253);
}

.education {
    width: 25%;
    margin-right: 10%;
    margin-left: 2.5%;
    padding-left: 20px;
    padding-top: 60px;
    background-color: rgba(255, 102, 0, 0.281);
}
.new-theme{
    display: flex;
    background-color: rgba(3, 252, 252, 0.288);
    padding-top: 50px;
    padding-bottom:50px;
    margin-bottom: 120px;
}
.email-border {
    width: 25%;
    padding: 13px;
    background-color: rgba(255, 255, 255, 0.671);
    margin-left: 2%;
    border: 0px;
    margin-bottom: 1%;
    margin-left: -10px;

}

.button-subscribe {
    text-decoration: none;
    color: antiquewhite;
    background-image: linear-gradient(rgb(27, 46, 216), rgb(29, 186, 207));
    padding: 8px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    font-size: 15px;
    margin-left: -8px;
}

.subscribe-box {
    width: 45%;
    background-color: rgba(92, 164, 223, 0.308);
    margin-left: 22.5%;
    margin-right: 22.5%;
    padding: 50px;
    margin-bottom: 120px;
}

.footer {
    background-color: darkslategrey;
    padding: 1px;
    text-align: center
}

.footer-font {
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
    color: rgb(24, 122, 214);
}
.font-footer-color{
    color: rgba(240, 248, 255, 0.623);
}