.top-banner{
    background-image: url(donation9.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 180px;
    color: whitesmoke;
    margin-bottom: 120px;
}
body{
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}
.first-button{
    text-decoration: none;
    color: antiquewhite;
    background-image: linear-gradient(rgb(204, 64, 64),rgb(207, 29, 29));
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 20px;
}
.h1-text{
    font-size: 65px;
    text-shadow: 5px 5px 5px black;
}
div p{
    font-size: 20px;
}
.shadow{
    text-shadow: 5px 5px 5px black;
}
.text-align{
    text-align: center;
    font-size: 30px;
}
.donate-head{
    margin-bottom: 50px;
}   
.taka{
    width: 15%;
    font-size: 25px;
    text-align: center;
}
.left-width{
    width: 20%;
}
.right-width{
    width: 20%;
}
.flex{
    display: flex;
    margin-bottom: 50px;
}
.border-taka{
    border: 2px solid rgb(231, 73, 45);
    color: rgb(209, 66, 41);
    background-color: rgba(216, 87, 87, 0.377);
}
.amount{
    padding-bottom: 40px;
    text-align: center;
}
.border{
    border: 0px solid white;
    text-align: center;
    padding-bottom: 5px;
}
.bottom-line{
    width: 50%;
    border-bottom: 1px solid rgba(59, 59, 59, 0.253);
}
.hr-line-left{
    width: 25%;
}
.hr-line-right{
    width: 25%;
}
.flex-line{
    display: flex;
}
.scnd-button{
    text-decoration: none;
    color: antiquewhite;
    background-image: linear-gradient(rgb(204, 64, 64),rgb(207, 29, 29));
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 20px;
}
.button-align{
    text-align: center;
    margin-bottom: 120px;
}
.donate-plan{
    display: flex;
    text-align: center;
    margin-bottom: 120px;
    text-align: left;
    padding-top: 20px;
    
}
.food{
    width: 25%;
    margin-left: 10%;
    margin-right: 2.5%;
    padding-bottom: 80px;
    padding-top: 60px;
    background-color: rgba(124, 201, 204, 0.226);
    text-align: left;
    padding-left: 20px;
}
.shelter{
    width: 25%;
    padding-left: 20px;
    padding-top: 60px;
    background-color: rgba(255, 99, 71, 0.253);
}
.education{
    width: 25%;
    margin-right: 10%;
    margin-left: 2.5%;
    padding-left: 20px;
    padding-top: 60px;
    background-color: rgba(255, 102, 0, 0.281);
}
